In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.spatial.distance import cdist
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_samples, silhouette_score
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import LocalOutlierFactor
from sklearn import metrics

In [6]:
## Import the data

In [7]:
data = pd.read_csv("C:\\Users\\akshay.arora\\Desktop\\Segmentation Case Study\\Data_Case_study.csv",encoding='utf-8')

In [8]:
data.head()

,customerid,max_purchase_amount,average_amount_purchase,No of visit,Frequency_of_visit,percentage_buys_discount,Total Number of Purchase
0,1024,93125.55,62600,10,45,50.00,8
1,7725,122979.04,92000,10,43,71.43,10
2,2196,139725.00,99999,11,40,88.89,9
3,4951,43068.48,25100,10,30,0.00,6
4,5278,44709.60,25100,11,32,0.00,11

In [9]:
data.columns

Index(['customerid', 'max_purchase_amount', 'average_amount_purchase',
       'No of visit', 'Frequency_of_visit', 'percentage_buys_discount',
       'Total Number of Purchase'],
      dtype='object')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 7 columns):
customerid                  399 non-null int64
max_purchase_amount         399 non-null float64
average_amount_purchase     399 non-null int64
No of visit                 399 non-null int64
Frequency_of_visit          399 non-null int64
percentage_buys_discount    399 non-null float64
Total Number of Purchase    399 non-null int64
dtypes: float64(2), int64(5)
memory usage: 21.9 KB

In [11]:
data.describe()

,customerid,max_purchase_amount,average_amount_purchase,No of visit,Frequency_of_visit,percentage_buys_discount,Total Number of Purchase
count,399.000000,3.990000e+02,399.000000,399.000000,399.000000,399.000000,399.000000
mean,7159.979950,1.111784e+05,77938.112782,16.837093,15.799499,45.379699,12.498747
std,15472.600717,8.271623e+04,60563.433769,5.623088,11.710276,39.175858,4.892757
min,41.000000,3.001472e+04,20060.000000,10.000000,1.000000,0.000000,5.000000
25%,2646.000000,7.064332e+04,48065.000000,12.000000,7.000000,0.000000,9.000000
50%,5093.000000,1.124341e+05,80100.000000,16.000000,13.000000,37.500000,12.000000
75%,7521.500000,1.341798e+05,96933.000000,21.000000,22.000000,100.000000,15.000000
max,110880.000000,1.063370e+06,797500.000000,30.000000,62.000000,100.000000,29.000000

In [12]:
data=data[['max_purchase_amount', 'average_amount_purchase',
       'No of visit', 'Frequency_of_visit', 'percentage_buys_discount',
       'Total Number of Purchase']]

In [13]:
##Lets scale the data using standardscaler
##Scaling is a important step before running the standard scaler

In [14]:
stscaler = StandardScaler().fit(data)
data = stscaler.transform(data)

In [15]:
#Lets run the LOF 

## -1 values indicates its a outlier whereas 1 indicates its a normal point.
clf1 = LocalOutlierFactor(n_neighbors=10,contamination=0.1)
clf1.fit_predict(data)

C:\Users\akshay.arora\AppData\Local\Continuum\anaconda31\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval

array([ 1,  1,  1,  1,  1,  1, -1,  1,  1,  1, -1, -1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1, -1, -1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1, -1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1,  1,  1,  1,
        1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,
        1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, -1,  1, -1, -1,  1, -1, -1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1, -1,  1, -1,  1,  1,  1,  1, -1,  1,
        1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1,
        1,  1,  1,  1,  1,  1,  1,  1])